@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

:root {
  --shadow-color: #ff9e9e;
  --shadow-color-light: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}
a {
  color: white;
}

body {
  height: 100vh;
  background-color: #192824;
  display: grid;
  place-items: center;
  gap: 10px;
  font-family: "DotGothic16", sans-serif;
}

#start-button,
#restart {
  margin-top: 30px;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container::before {
  content: "";
  height: 100%;
  float: left;
}
header {
  font-size: 2em;
  font-weight: 200;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
h1 {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

.player-container {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.players,
.scores {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.options-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.text,
#text2, #text3 {
  text-align: center;
  padding: 30px 0;
}
.text,
.text2,
#text3,
#text4 {
  transition: all 0.4s ease-in-out;
}

.orange-text{
    color: yellow
}

.result-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.result-text p {
  font-size: 36px;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}

/* button,
#restart {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  padding: 8px 18px;
  font-size: 10px;
  font-weight: 600;
  color: #2d3748;
  border: 1px solid #cbd5e0;
  line-height: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.4s ease-in-out;
} */

#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
}


/* CSS */
button, #restart{
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#restart{
    margin-top: 10px;
    margin-bottom: 30px;
}

button:hover,#restart:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

button:active {
  transform: scale(1);
}

@media (min-width: 768px) {
  button {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}