@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

body {
  height: 100vh;
  background-color: #01291e;
  display: grid;
  place-items: center;
  gap: 10px;
  font-family: "DotGothic16", sans-serif;
  overflow: hidden;
}

#start-button,
#restart {
  margin: 30px 10px;
  padding: 30px;

}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container::before {
  content: "";
  height: 100%;
  float: left;
}
header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
h1 {
    font-size: 60px;
  font-weight: 300;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 6s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

.player-container {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.players,
.scores {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.options-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.text,
#text2,
#text3 {
  text-align: center;
  padding: 20px 0;
}
.text,
.text2,
#text3,
#text4 {
  transition: all 0.4s ease-in-out;
}

.orange-text {
  color: orange;
}

.result-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.result-text p {
  font-size: 36px;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}

#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 50px;
}

button,
#restart {
  font-family: "DotGothic16", sans-serif;
  appearance: none;
  background-color: #ffffff;
  border-radius: 20px;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#restart {
  margin-top: 30px;
  margin-bottom: 30px;
}

button:hover,
#restart:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

button:active {
  transform: scale(1);
}
@media (max-width: 600px){
    h1{
        font-size: 40px;
        font-weight: 700;
    }
}
@media (max-width: 377px){
    h1{
        font-size: 20px;
    }
    /* button{
        margin: 10px;
    } */
    #restart{
        font-size: 10px;
        margin-top: 10px;
    }
}
@media (min-width: 768px) {
  button {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}
