*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100vw;
    background: blanchedalmond;
}
.heading{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-container{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.players, .scores{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.options-container{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text, .text2{
    text-align: center;
    padding-top: 20px;
}
.text, .text2, #text3, #text4{
    transition: all .4s ease-in-out;
}

.result-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.result-text p{
    font-size: 36px;
    margin-bottom: 20px;
    transition: all .4s ease-in-out;
}

button, #restart{

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #2d3748;
    border: 1px solid #cbd5e0;
    line-height: 26px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    transition: all .4s ease-in-out
}

#game-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background: #8b8888;
    padding: 15px 23px;
    color: var(--secondary-color);
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}

