@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    background: blanchedalmond;
    display: grid;
    place-items: center;
    gap: 10px;
    font-family: 'DotGothic16', sans-serif;
}

#start-button{
    margin-top: 50px;
}
.container{
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container::before {
    content: "";
    height: 100%;
    float: left;
}
header{
    font-size: 2em;
    font-weight: 500;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

.player-container{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.players, .scores{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.options-container{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.text, #text2{
    text-align: center;
    padding: 50px 0;
}
.text, .text2, #text3, #text4{
    transition: all .4s ease-in-out;
}

.result-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.result-text p{
    font-size: 36px;
    margin-bottom: 20px;
    transition: all .4s ease-in-out;
}

button, #restart{

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    padding: 8px 18px;
    font-size: 10px;
    font-weight: 600;
    color: #2d3748;
    border: 1px solid #cbd5e0;
    line-height: 20px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    transition: all .4s ease-in-out
}

#game-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; 
    line-height: 50px;
}

